# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
qec_biosignal_env/
.venv/
venv/
env/

# EEG/raw data
data/raw/
*.edf
*.edf.gz

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem